local = server_1

[server_1]
za_url = https://zabbix1.example.com
za_user = Admin
za_password = password
db_name = zabbix1
db_user = user
db_password = password
db_host = localhost
# db_key_file =
# db_cert_file =
# db_ca_file =
# db_ca_path =
# db_cipher =

[server_2]
za_url = https://zabbix2.example.com
za_user = Admin
za_password = password
db_name = zabbix2
db_user = user
db_password = password
db_host = localhost
# db_key_file =
# db_cert_file =
# db_ca_file =
# db_ca_path =
# db_cipher =

[slv]
path = /opt/zabbix/scripts/slv
zserver = 127.0.0.1
zport = 10051

[salesforce]
username = someone@example.com
password = password

[redis]
enabled = 0
