module zbx_nginx 1.0;

require {
	type httpd_t;
	class capability sys_resource;
	class process setrlimit;
}

#============= httpd_t ==============
#!!!! This avc is allowed in the current policy
allow httpd_t self:capability sys_resource;

#!!!! This avc is allowed in the current policy
allow httpd_t self:process setrlimit;
